!!!
%html
  %head
    %title= title
    %meta{:'http-equiv' => 'Content-Type', content: 'text/html', charset: 'utf-8'}
    %meta{name: 'author',  content: config.author}
    %link{rel: 'icon', type: 'image/png', href: '/favicon.png'}
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all'
    = auto_discovery_link_tag :rss, retter_entries_url(format: 'rss')
  %body
    %header#header
      %h1
        = link_to config.title, retter_index_path(format: 'html')
      %nav
        %ul#menu
          %li= link_to 'Home',     retter_index_path(format: 'html')
          %li= link_to 'About',    retter_about_path(format: 'html')
          %li= link_to 'Archives', retter_entries_path(format: 'html')
          %li= link_to 'Feed',     retter_entries_path(format: 'rss'), target: '_blank'
    #page
      #content= yield
      %aside#sidebar
        %h3 Author
        .author= link_to config.author, retter_about_path(format: 'html')
        %h3 Recent entries
        .recent-entries
          %ul
            - articles[0..5].each do |article|
              %li
                = link_to article.title, retter_entry_article_path(article.entry, article, format: 'html')
          .archives= link_to 'Archives', retter_entries_path(format: 'html')
    %footer#footer
      #{config.title} (C) #{config.author}
